HELP.md
build/
gradle
resources
module-info.java



!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
/build.gradle
/gradlew
/gradlew.bat
/settings.gradle

### Logs ###
*.log